body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
    
}

.regstro-contenedor {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
}

.registro-form {
    padding: 20px;
}

.registro-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.input-contenedor {
    margin-bottom: 20px;
}

.input-contenedor label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.input-contenedor input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff4aff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ff00ff;
}

.login-link {
    text-align: center;
    margin-top: 10px;
}

.login-link p {
    font-size: 14px;
    margin-bottom: 6px;
}

.login-link a {
    text-decoration: none;
    color: #ff4aff;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}